.banner-title {
  z-index: 5;
  top: 20%;

  color: #fff;
  font-family: "Unica One", sans-serif;

  animation: fade 1s linear forwards;
}

#narwhal-eye {
  animation: fade .2s .9s linear forwards;
  opacity: 0;
}

@keyframes fade {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

#narwhal-body {
  stroke-dasharray: 1910px;
  stroke-dashoffset: 1910px;
  animation: drawing-line 1s linear forwards;
}

#rainbow-violet {
  stroke-dasharray: 1920px;
  stroke-dashoffset: 1920px;
}

#rainbow-indigo {
  stroke-dasharray: 1815px;
  stroke-dashoffset: 1815px;
}

#rainbow-blue {
  stroke-dasharray: 1710px;
  stroke-dashoffset: 1710px;
}

#rainbow-green {
  stroke-dasharray: 1600px;
  stroke-dashoffset: 1600px;
}

#rainbow-yellow {
  stroke-dasharray: 1490px;
  stroke-dashoffset: 1490px;
}

#rainbow-orange {
  stroke-dasharray: 1370px;
  stroke-dashoffset: 1370px;
}

#rainbow-red {
  stroke-dasharray: 1245px;
  stroke-dashoffset: 1245px;
}

#rainbow path {
  animation: drawing-line 1s .5s linear forwards;
}

@keyframes drawing-line {

  to {

    stroke-dashoffset: 1px;
  }

}
